:root,
[data-theme='dark'] {
  --bg: #234;
  --fg: #fff;
  --success: #5d5;
  --error: #e55;
  --icon: #fff;
  --service-blend-mode: screen;
}

[data-theme='rainbow'] {
  --bg: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  --fg: #fff;
  --success: #5d5;
  --error: #e55;
  --icon: #fff;
}

[data-theme='light'] {
  --bg: #fff;
  --fg: #333;
  --success: green;
  --error: red;
  --icon: respect;
  --service-blend-mode: normal;
}

[data-theme='colorful'] {
  --bg: #ff659c;
  --fg: #3c2149;
  --success: #018201;
  --error: red;
  --icon: #000;
  --service-blend-mode: normal;
}

[data-theme='highcontrast'] {
  --bg: #000;
  --fg: #fff;
  --success: green;
  --error: red;
  --icon: #fff;
}

[data-theme='pastel'] {
  --bg: #ff8080;
  --fg: #f6fdc3;
  --success: #4ed065;
  --error: #ff8080;
  --icon: #fff;
}

[data-theme='neon'] {
  --bg: #08d9d6;
  --fg: #252a34;
  --success: #00981b;
  --error: #ff2e63;
  --icon: #888;
  --service-blend-mode: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/Vollkorn-Bold.woff2') format('woff2');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  outline: 1em solid var(--fg);
  border: 1em solid var(--fg);
  border-radius: 2em;
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  min-height: 100%;
}
body {
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  z-index: 0;
  margin: 10vh 0;
  font-size: 1.2em;
  font-size: max(1.1em, 1vh);
  user-select: none;
}

[data-before]::before {
  display: block;
  content: var(--data-before);
}

a {
  color: var(--fg);
}

h1 {
  font-family: 'Vollkorn';
  font-size: 3.2em;
}

label {
  cursor: pointer;
}

.is-small {
  font-size: 0.7em;
}

#search {
  float: right;
  margin-right: 2em;
  padding: 0.4em 1em;
  border-radius: 0.3em;
  border: none;
  font-size: 1em;
  background: transparent;
  color: var(--fg);
}
#search:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  float: right;
}

summary {
  list-style: none;
  text-align: end;
  cursor: pointer;
  opacity: 0.7;
}
summary:hover,
details[open] summary {
  opacity: 1;
}

section {
  max-width: 75vw;
  margin: 0 auto;
}

#render {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 1em;
}

.card {
  position: relative;
  padding: 0.6em 1.2em;
  background: #77777720;
  mix-blend-mode: var(--service-blend-mode);
  border-radius: 4px;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 1em 2fr 1fr;
  gap: 0.5em 1em;
  text-decoration: none;
}
.is-replica {
  margin-top: 0;
  margin-left: 2em;
}
.card[href]:hover {
  background: #77777736;
}
.card[href]:hover .links {
  opacity: 1;
}
.card * {
  pointer-events: none;
}
.service {
  transition: opacity 0.15s ease;
}
.service .icon {
  width: 20px;
  height: 20px;
}
.service .icon > span {
  fill: var(--icon) !important;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
}
.card .name {
  grid-column: 2;
  grid-row: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .name-fullwidth {
  grid-column: 1 / 3;
  grid-row: 1;
}
.card .desc {
  grid-column: 2 / 4;
  grid-row: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
}
.service .image {
  grid-column: 2;
  grid-row: 3;
  opacity: 0.8;
}
.service .status {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.service .links {
  grid-column: 3;
  grid-row: 3;
  text-align: right;
  opacity: 0.8;
}
.service:hover .link {
  text-decoration: underline;
}
.service .networks {
  grid-column: 2;
  grid-row: 3;
}

.status-paused::after,
.status-restarting::after,
.status-removing::after,
.status-exited::after,
.status-dead::after {
  content: '○';
  color: var(--error);
}
.status-created::after,
.status-running::after {
  content: '●';
  color: var(--success);
}

.status-created,
.status-restarting {
  animation: 1.3s linear 0s infinite alternate opacity;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*
  Highlighting
*/

/* Hide non-eligible services */
#render.is-highlighting .service:not(.is-highlighted) {
  opacity: 0.2;
}
/* Hide non-eligible networks */
.project .network {
  display: none;
}
/* Show eligible networks */
.project.is-highlighting .network.is-highlighted {
  display: block;
}
/* Prepare a bordered line to link eligible services and networks */
.project.is-highlighting .service.is-highlighted::before,
.project.is-highlighting .service.is-highlighted ~ ::before {
  content: '';
  position: absolute;
  left: -0.5em;
  top: -4px;
  bottom: -4px;
  background: currentColor;
  width: 3px;
}
/* First eligible service */
.project.is-highlighting .service.is-highlighted::before {
}
/* Any subsequent service */
.project.is-highlighting .service.is-highlighted ~ .service::before {
}
/* Any subsequent eligible service */
.project.is-highlighting .service.is-highlighted ~ .service.is-highlighted::before {
}
/* Eligible networks */
.project.is-highlighting .service.is-highlighted ~ .network.is-highlighted::before {
}
